/Data/
/Logs/
/Predictions_and_attempts/
/Results/
/wandb/
/src/Upload_fixed.ipynb
/src/Upload_random.ipynb
/.env
/.s3cfg
/finetune/outputs/
/Dataset/
/parquet_dir/
/last_run_prepared/
/Financial_Alpha_Vantage/
/build
# /evaluator